/* Page Layout */

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 50% 50%;
    --column-margin: 5em;
}

.container>* {
    margin: var(--column-margin);
}

/* Make sure the tech note describing the application is laid out nicely */

#tech-note {
    height: 100%;
}

#tech-note object {
    /* Note: */
    height: calc(100% - 2* var(--column-margin));
    width: 100%;
}

/* Layout of the left column */

#main {
    display: flex;
    flex-direction: column;
}

#main h1 {
    margin-top: calc(var(--column-margin) / 2);
    text-align: center;
}

#leader {
    margin: 0 var(--column-margin);
}

footer {
    justify-self: flex-end;
    vertical-align: middle;
}

@media only screen and (max-width: 600px) {
    /*
        For smaller screens, we want to hide the PDF completely and just show
        the form
    */
    #tech-note {
        display: hidden;
    }
    .container {
        grid-template-columns: 100% 0%;
    }
}

/* The Form */

#main form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 0.5em;
}

form button {
    margin-top: 1em;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
