<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <style>
        body {
            background-color: antiquewhite;
        }

        h1 {
            text-align: center;
        }

        section {
            background-color: tan;
            border: burlywood;
            padding: 1em;
            margin: 0.5em;
        }

        section header {
            font-weight: normal;
        }

        section header .sender {
            font-size: 0.8em;
        }
    </style>
</head>

<body>
    <h1>{{ title }}</h1>

    {% for message in messages %}
    <section>
        <header>
            <h2>
                <span class="timestamp">{{ message.meta.timestamp | date(format="%Y-%m-%d %H:%M") }}</span>
                -
                <span class="sender">{{ message.meta.sender }}</span>
            </h2>
        </header>

        {% if message.body.type == "direct-message" %}
        <p>{{ message.body.content }}</p>
        {% elif message.body.type == "attachment" %}

        {% if message.body.name is image %}
        <a href="{{ message.body.name }}">
            <img src="{{ message.body.name }}" alt="{{ message.body.name }}">
        </a>
        {% elif message.body.name is video %}
        <video controls>
            <source src="{{ message.body.name }}" type="{{ message.body.name | mimetype }}">
            <a href="{{ message.body.name }}" download>{{ message.body.name }}</a>
        </video>
        {% elif message.body.name is audio %}
        <video controls>
            <source src="{{ message.body.name }}" type="{{ message.body.name | mimetype }}">
            <a href="{{ message.body.name }}" download>{{ message.body.name }}</a>
        </video>
        {% else %}
        <a href="{{ message.body.name }}" download>{{ message.body.name }}</a>
        {% endif %}

        {% endif %}
    </section>
    {% endfor %}
</body>

</html>
